body
{
	background-color: yellow; 
	font-family: Verdana;
	font-size: 20px;
	color: black;
	text-align: center;
}

h1
{
	font-size: 48px;
	color: blue !important;
}

/* Nieodwiedzony link */
a:link
{
	color: green;
}

/* Odwiedzony link */
a:visited
{
	color:gray;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: red;
}